{% extends "leases/base/base_leases.html" %}

{% load static %}

{% block body %}
<div class="main-table-grid mt-3 w-75">
    <div class="main-table-grid-head">Arrendatario</div>
    <div class="main-table-grid-head">Fecha inicio</div>
    <div class="main-table-grid-head">Fecha fin</div>
    <div class="main-table-grid-head">Status</div>
    <div></div>
    <div></div>
    {% for lease in data %}
        <div>{{lease.resident.name}}</div>
        <div>{{lease.start_date}}</div>
        <div>
            {% if lease.status == ongoing %}
              -
            {% else %}
              {{lease.end_date}}
            {% endif %}
        </div>
        {% if lease.status == ongoing %}
            <div class="ongoing">ongoing</div>
        {% else %}
            <div></div>
        {% endif %}
        <div></div>
        <div></div>
    {% endfor %}
</div>

{% endblock %}
