.lease-table-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 5px;
}

.lease-table-grid-head {
    font-weight: bold;
    color: #2222cc;
}