{% extends "garage/base/base_garage.html" %}

{% load static %}

{% block body %}
<div class="main-table-grid mt-3 w-75">
    <div class="main-table-grid-head">Dirección</div>
    <div class="main-table-grid-head">Planta y número</div>
    <div class="main-table-grid-head">Inmobiliaria</div>
    <div class="main-table-grid-head">Precio</div>
    <div class="main-table-grid-head">Alquiler</div>
    <div class="main-table-grid-head">Beneficio anual</div>
    {% for garage in data %}
        <div>{{garage.address}}</div>
        <div>{{garage.floor}} : {{garage.number}}</div>
        <div>{{garage.real_estate.name}}</div>
        <div>{{garage.price}}</div>
        <div>{{garage.rent}}</div>
        <div>
            {{garage.net_yearly_revenue|floatformat:2}}
            ({{garage.net_yearly_revenue_percent|floatformat:2}} %)
        </div>
    {% endfor %}
</div>

{% endblock %}
